.section_heading-wrap {
  grid-column-start: span 5;
  padding-bottom: 6rem;
}

.section_subheading-wrap {
  grid-column-start: 2;
  grid-column-end: 6;
  grid-row-start: 3;
  grid-row-end: 4;
}

.certificate_img-wrap {
  display: flex;
  border-radius: 1.2rem;
  border: 1px solid var(--border-primary);
  overflow: hidden;
  grid-column-start: 7;
  grid-column-end: 12;
  grid-row-start: 3;
  grid-row-end: 4;
}

.certificate_img-wrap img {
  width: 100%;
  height: auto;
}
