.certificate_img-wrap {
  display: flex;
  border-radius: 1.2rem;
  border: 1px solid var(--border-primary);
  overflow: hidden;
  grid-column-start: 7;
  grid-column-end: 12;
  grid-row-start: 2;
  grid-row-end: 3;
}

.certificate_img-wrap img {
  width: 100%;
  height: auto;
}
