.collection-hero__inner {
  display: flex;
  flex-direction: column;
}

.collection-hero--with-image .collection-hero__inner {
  margin-bottom: 0;
  padding-bottom: 2rem;
}

@media screen and (min-width: 750px) {
  .collection-hero.collection-hero--with-image {
    padding: calc(4rem + var(--page-width-margin)) 0
      calc(4rem + var(--page-width-margin));
    overflow: hidden;
  }

  .collection-hero--with-image .collection-hero__inner {
    padding-bottom: 0;
  }
}

.collection-hero__text-wrapper {
  flex-basis: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: end;
  margin: 2.4rem 0rem;
  gap: 1.6rem;
}

@media screen and (min-width: 750px) {
  .collection-hero {
    padding: 0;
  }

  .collection-hero__inner {
    align-items: center;
    flex-direction: row;
    padding-bottom: 0;
  }
}

.collection-hero__title {
  /* margin: 2.5rem 0; */
  grid-column-start: span 1;
  /* align-self: flex-end; */
}

.collection-hero__title + .collection-hero__description {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  font-size: 1.6rem;
  line-height: calc(1 + 0.5 / var(--font-body-scale));
}

@media screen and (min-width: 750px) {
  .collection-hero__title + .collection-hero__description {
    font-size: 1.6rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .collection-hero__description {
    padding-bottom: 0.8rem;
    grid-column-start: 2;
    grid-row-start: 1;
    max-width: 40ch;
  }

  .collection-hero--with-image .collection-hero__description {
    max-width: 100%;
  }
}

@media screen and (min-width: 1440px) {
  .collection-hero__description {
    padding-bottom: 1.6rem;
  }
}

.collection-hero--with-image .collection-hero__title {
  margin: 0;
}

.collection-hero--with-image .collection-hero__text-wrapper {
  padding: 5rem 0 4rem;
}

.collection-hero__image-container {
  border: var(--media-border-width) solid
    rgba(var(--color-foreground), var(--media-border-opacity));
  border-radius: var(--media-radius);
  box-shadow: var(--media-shadow-horizontal-offset)
    var(--media-shadow-vertical-offset) var(--media-shadow-blur-radius)
    rgba(var(--color-shadow), var(--media-shadow-opacity));
}

@media screen and (max-width: 749px) {
  .collection-hero__image-container {
    height: 20rem;
  }
}

@media screen and (min-width: 750px) {
  .collection-hero--with-image .collection-hero__text-wrapper {
    padding: 4rem 2rem 4rem 0;
    flex-basis: 50%;
  }

  .collection-hero__image-container {
    align-self: stretch;
    flex: 1 0 50%;
    margin-left: 3rem;
    min-height: 20rem;
  }
}

@media screen and (max-width: 991px) {
  .collection-hero__text-wrapper {
    align-items: start;
    margin-bottom: 0rem;
  }

  .collection-hero__title {
    grid-column-start: span 2;
    font-size: clamp(8.6rem, 7vw, 12rem);
  }

  .collection-hero__description {
    margin: 0rem !important;
    grid-row-start: 2;
  }
}

@media screen and (max-width: 749px) {
  .collection-hero__text-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    margin-bottom: 0rem;
  }
}

@media screen and (max-width: 478px) {
  .collection-hero__title {
    font-size: clamp(6rem, 7vw, 12rem);
    align-self: flex-start;
  }

  .facets-wrapper {
    margin-bottom: 1.6rem;
  }
}

.benefit_list {
  display: flex;
  flex-direction: row;
  column-gap: 1.6rem;
  row-gap: 0.8rem;
  flex-wrap: wrap;
  grid-column-start: 1;
}

.benefit_item {
  display: flex;
  flex-direction: row;
  gap: 0.8rem;
  flex-wrap: nowrap;
  font-size: 1.4rem;
}

.benefit_item svg {
  width: 1.6rem;
}
