.contact_socials,
.contact_address,
.contact_time {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  padding-bottom: 3.2rem;
}

.contact_time {
  padding-bottom: 0rem;
}

.contact_socials p,
.contact_address p,
.contact_time p {
  margin-bottom: 0rem;
}

.contact_socials .list-social {
  justify-content: flex-start;
}

.list-social__link {
  padding: 0.8rem !important;
}

.list-social__item .icon {
  width: 2.8rem !important;
  height: 2.8rem !important;
}
