.price_list {
  grid-column-start: 2;
  grid-column-end: 12;

  --layout-grid-min: 24rem;
  --layout-grid-max: 36rem;
  --layout-grid-gap: clamp(1.6rem, 2.5vw, 2.4rem);

  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(min(100%, var(--layout-grid-min)), var(--layout-grid-max))
  );
  gap: var(--layout-grid-gap);
  /* justify-items: center; */
  justify-content: center;
}

.price_item {
  display: grid;
  grid-template-rows: subgrid;
  grid-row-start: span 3;
  gap: 0rem;
  max-width: 42rem;
}

.price_content {
  display: grid;
  padding: 4rem 2.4rem;
  gap: 3.2rem;
  border-radius: 1.2rem;
  background-color: rgb(var(--color-background-secondary));
  grid-template-rows: subgrid;
  grid-row-start: span 2;
}

.price_header {
  display: flex;
  flex-direction: column;
  text-align: center;
  grid-template-rows: subgrid;
  grid-row-start: span 1;
}

.price_price {
  font-size: 3.2rem;
  font-weight: 600;
}

.price_benefits {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  padding-left: 0rem;
  /* grid-template-rows: subgrid; */
  /* grid-row-start: span 1; */
}

.price_benefits li {
  list-style-type: none; /* Removes the default bullet */
  position: relative;
  padding-left: 30px;
}

.price_benefits li::before {
  content: url("https://cdn.shopify.com/s/files/1/0640/9689/5127/files/check.svg?v=1714312440");
  position: absolute;
  left: 0; /* Aligns the bullet to the left */
  top: -0.25rem; /* Adjust this value to align vertically as needed */
}

.price_button-wrap {
  padding-top: 1.6rem;
}

@media screen and (max-width: 478px) {
  .price_list {
    grid-template-columns: repeat(1, 1fr);
  }
}
