.page-header_heading-wrap {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  align-self: flex-end;
}

.page-header_img-wrap {
  display: flex;
  grid-column-start: 6;
  grid-column-end: 13;
  grid-row-start: 1;
  border-radius: 1.2rem;
  overflow: hidden;
  margin-top: 1.6rem;
}

.page-header_img-wrap img {
  width: 100%;
  height: auto;
}

.page-header_content-wrap {
  display: flex;
  flex-direction: column;
  padding-top: 4rem;
  grid-column-start: 2;
  grid-column-end: 7;
}

@media screen and (max-width: 478px) {
  .page-header_img-wrap {
    grid-column-start: 1;
    grid-column-end: 13;
    grid-row-start: 1;
  }

  .page-header_heading-wrap {
    grid-column-start: 1;
    grid-column-end: 13;
    grid-row-start: 2;
    align-self: flex-end;
  }

  .page-header_content-wrap {
    padding-top: 0rem;
    grid-column-start: 2;
    grid-column-end: 13;
  }
}
