.portfolio-categories_list-wrap {
}

.portfolio-categories_list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
}

.portfolio-categories_item {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: clip;
  border-radius: 0.8rem;
}

.portfolio-categories_item img {
  width: 100%;
  height: auto;
  filter: grayscale(1);
  transition: filter 0.05s ease-in-out;
  transition: transform 0.05s ease-out;
  transform-origin: bottom right;
}

.portfolio-categories_arrow-wrap {
  /* width: 3rem; */
  color: white;
  position: absolute;
  bottom: 0%;
  left: 0%;
  z-index: 1;
  padding: 1.6rem;
}

.portfolio-categories_arrow-wrap svg {
  width: 3rem;
  opacity: 0;
  transform: translate(-1.5rem);
  transition: opacity 0.05s ease-out;
  transition: transform 0.05s ease-out;
}

/* Animation */
.portfolio-categories_item:hover img {
  filter: grayscale(0);
  transform: scale(1.02);
}

.portfolio-categories_item:hover svg {
  opacity: 1;
  transform: translate(0rem);
}

@media screen and (max-width: 478px) {
  .portfolio-categories_list {
    grid-template-columns: repeat(2, 1fr);
  }
}






/* Уменьшение основного заголовка */
h1 {
  font-size: 40px;
}

/* Уменьшение подзаголовков */
h2 {
  font-size: 16px;
}

/* Дополнительно: если заголовки имеют классы — можешь уточнить */
.portfolio-title {
  font-size: 40px;
  font-weight: 700;
}

.portfolio-subtitle {
  font-size: 28px;
  font-weight: 600;
}


.text-style-allcaps {
  font-size: 18px; /* или другой подходящий размер */
  line-height: 1.2;
  text-transform: uppercase;
}


.section_subheading-wrap {
  font-size: 18px;
  line-height: 1.5;
}



.portfolio-heading {
  font-size: 3rem;
  line-height: 0.6;
  font-weight: 300;
}

@media screen and (min-width: 768px) {
  .portfolio-heading {
    font-size: 1rem;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio-heading {
    font-size: 1rem;
  }
}

