.tag {
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 1;
}

.section_heading-wrap {
  display: flex;
  flex-direction: column;
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 1;
  padding-bottom: 4rem;
}

.section_heading-wrap .tag {
  margin-bottom: 1.6rem;
}

.section_subheading-wrap {
  grid-column-start: 2;
  grid-column-end: 6;
  grid-row-start: 2;
  /* grid-row-end: 3; */
  /* padding-top: 1.6rem; */
  padding-bottom: 8rem;
}

.section_button-wrap {
  padding-top: 3.2rem;
}
