.tag {
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 1;
}

.section_heading-wrap {
  display: flex;
  grid-column-start: 1;
  grid-column-end: 7;
  grid-row-start: 1;
  flex-direction: column;
  /* padding-bottom: 4rem; */
}

.is-centered {
  grid-column-end: 13;
  align-items: center;
  text-align: center;
}

.is-slider-header {
  flex-direction: row;
  gap: 1.6rem;
  justify-content: space-between;
  padding-bottom: 3.2rem;
  align-items: flex-end;
}

.is-centered .section_subheading-wrap {
  padding-top: 3.2rem;
  /* padding-bottom: 0; */
}

@media screen and (max-width: 478px) {
  .is-centered .section_subheading-wrap {
    padding-top: 2.4rem;
  }

  .section_heading-wrap.is-portfolio-slider-header h2 {
    font-size: clamp(3.6rem, 4.5vw, 4.8rem) !important;
  }

  .button-group.is-centered {
    padding-top: 0rem;
  }
}

.section_heading-wrap .tag {
  margin-bottom: 1.6rem;
}

.section_subheading-wrap {
  display: flex;
  flex-direction: column;
  grid-column-start: 2;
  grid-column-end: 6;
  grid-row-start: 2;
  /* grid-row-end: 3; */
  /* padding-top: 1.6rem; */
  padding-bottom: clamp(3.2rem, 3.5vw, 8rem);
  text-wrap: balance;
}

.section_subheading-wrap p {
  margin-bottom: 1.6rem;
}

.section_button-wrap {
  padding-top: 3.2rem;
}

@media screen and (max-width: 991px) {
  .section_subheading-wrap {
    grid-column-end: 7;
  }
}

@media screen and (max-width: 478px) {
  .section_heading-wrap {
    grid-column-end: 13;
    padding-bottom: 0rem;
  }

  .section_subheading-wrap {
    grid-column-end: 13;
    padding-bottom: 0rem;
  }

  .is-centered .max-width-medium {
    max-width: 80%;
  }

  .is-slider-header {
    flex-direction: column;
    gap: 1.6rem;
    align-items: flex-start;
  }
}
