.services-subheading {
  grid-column-end: 7;
}

.service_list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-start: 2;
  grid-column-end: 12;
  grid-row-start: 3;
  gap: 1.6rem;
}

.is-service {
  justify-content: space-between;
}

@media screen and (max-width: 478px) {
  .service_list {
    grid-template-columns: repeat(1, 1fr);
    grid-column-start: 2;
    grid-column-end: 13;
  }
}
