.success_header-img-wrap {
  display: flex;
  grid-column-start: span 6;
  width: clamp(10rem, 25vw, 32rem);
  justify-self: end;
}

.success_header-img-wrap img {
  width: 100%;
  height: auto;
  align-self: flex-end;
}

.success_heading-wrap {
  display: flex;
  flex-direction: column;
  grid-column-start: 7;
  grid-column-end: 13;
  /* padding-bottom: 6.4rem; */
  align-self: center;
}

.success_heading-wrap h2 {
  padding-bottom: 1.6rem;
}

.success_img-wrap {
  display: flex;
  border-radius: 1.2rem;
  overflow: hidden;
  grid-column-start: span 12;
  grid-row-start: 3;
}

.success_img-wrap img {
  width: 100%;
  height: auto;
}

.success_items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3.2rem;
  grid-column-start: span 12;
  padding-top: 6.4rem;
  padding-bottom: 6.4rem;
}

.success_item {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.success_number {
  font-size: 6.4rem;
  font-weight: 500;
  line-height: 1;
  letter-spacing: -0.03em;
}

.success_button-wrap {
  width: 100%;
  padding-top: 6.4rem;
  /* margin-top: auto; */
}
