.success_header-img-wrap {
  display: flex;
  grid-column-start: span 6;
  width: clamp(20rem, 25vw, 32rem);
  justify-self: end;
}

.success_header-img-wrap img {
  width: 100%;
  height: auto;
  align-self: flex-end;
}

.success_heading-wrap {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  grid-column-start: 7;
  grid-column-end: 13;
  /* padding-bottom: 6.4rem; */
  align-self: center;
}

.success_heading-wrap h2 {
  padding-bottom: 1.6rem;
}

.success_img-wrap {
  display: flex;
  border-radius: 1.2rem;
  overflow: hidden;
  grid-column-start: span 12;
  grid-row-start: 3;
}

.success_img-wrap img {
  width: 100%;
  height: auto;
}

.success_items {
  grid-column-start: span 12;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4.2rem;
  padding-top: 6.4rem;
  /* padding-bottom: 6.4rem; */
}

.success_item {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.success_item-img-wrap {
  width: 100%;
  aspect-ratio: 1 / 1;
  border-radius: 1.2rem;
  overflow: hidden;
}

.success_item-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.success_number {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 0.8rem;
  font-size: clamp(5.2rem, 4.5vw, 6.4rem);
  font-weight: 500;
  line-height: 1;
  letter-spacing: -0.07em;
}

.success_icon img {
  display: inline-flex;
  margin-top: 1rem;
  width: clamp(5.2rem, 4.5vw, 6.4rem);
}

.success_button-wrap {
  width: 100%;
  /* padding-top: clamp(4.2rem, 4.5vw, 6.4rem); */
  margin-top: auto;
}

@media screen and (max-width: 991px) {
  .success_items {
    grid-template-columns: 1fr;
    justify-items: center;
    row-gap: 6.4rem;
  }

  .success_item {
    max-width: 42rem;
  }

  .success_button-wrap {
    padding-top: 3.2rem;
  }

  .success_header-img-wrap {
    grid-column-start: span 5;
    /* justify-self: start; */
  }
  .success_heading-wrap {
    grid-column-start: 6;
  }
}

@media screen and (max-width: 478px) {
  .success_header-img-wrap {
    grid-column-start: 1;
    grid-column-end: 13;
  }

  .success_heading-wrap {
    gap: 1.2rem;
    grid-column-start: 1;
    grid-column-end: 13;
    align-self: left;
  }

  .success_items {
    gap: 7.2rem;
  }

  .success_item {
    grid-column-start: span 3;
  }

  .success_button-wrap {
    padding-top: 1.6rem;
  }
}
