.team_list {
  display: flex;
  --cols: 3;
  --gap: 2.875rem;
  --gap-row: 1.25rem;
  grid-column-gap: var(--gap);
  grid-row-gap: var(--gap-row);
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-between;
  grid-column-start: 2;
  grid-column-end: 13;
  grid-row-start: 3;
}

.team_item {
  flex-basis: calc(
    (100% / var(--cols)) - (((var(--cols) - 1) * var(--gap)) / var(--cols))
  );
  display: flex;
  flex-direction: column;
  row-gap: 3.2rem;
}

.team_title {
  /* padding-bottom: 1.6rem; */
}

.team_photo {
  display: flex;
  border: 1px solid var(--border-primary);
  border-radius: 1.2rem;
  overflow: hidden;
}

.team_photo img {
  width: 100%;
  height: auto;
}
