/* .team_list {
  display: flex;
  --cols: 3;
  --gap: 2.75rem;
  --gap-row: 2.75rem;
  row-gap: var(--gap-row);
  column-gap: var(--gap);
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-between;
  grid-column-start: 2;
  grid-column-end: 13;
  grid-row-start: 3;
} */

/* .team_item {
  flex-basis: calc(
    (100% / var(--cols)) - (((var(--cols) - 1) * var(--gap)) / var(--cols))
  );
  display: flex;
  flex-direction: column;
  row-gap: 3.2rem;
} */

.team_list {
  grid-column-start: 2;
  grid-column-end: 13;
  grid-row-start: 3;

  display: grid;
  gap: 2.75rem;
  grid-template-columns: repeat(3, 1fr);
}

.team_item {
  display: grid;
  grid-template-rows: subgrid;
  grid-row-start: span 4;
}

.team_info {
  display: grid;
  gap: 0rem;
  grid-template-rows: subgrid;
  grid-row-start: span 2;
}

.team_photo,
.team_description {
  display: grid;
  grid-template-rows: subgrid;
  grid-row-start: span 1;
}

.team_description {
  /* margin-top: auto; */
  font-weight: 420;
}

.team_description p {
  margin-bottom: 1.2rem;
}

.team_title {
  /* padding-bottom: 1.6rem; */
}

.team_photo {
  /* display: flex; */
  /* border: 1px solid var(--border-primary); */
  border-radius: 1.2rem;
  overflow: hidden;
}

.team_photo img {
  width: 100%;
  height: auto;
}

@media screen and (max-width: 991px) {
  .team_list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 478px) {
  .team_list {
    grid-column-end: 12;
    grid-template-columns: repeat(1, 1fr);
    gap: 1.6rem;
  }
}
