.testimonial-slider_text-wrapper {
  padding: 4.2rem;
}

/* .testimonial-slider_header {
  display: flex;
  width: 100%;
  justify-content: space-between;
} */

.testimonial-slider_text {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  justify-content: left;
  max-width: 80rem !important;
  border-radius: 1.2rem;
  overflow: hidden;
}

.testimonial-slider_author {
  display: flex;
  flex-direction: row;
  gap: 1.6rem;
  align-items: center;
  padding-top: 1.6rem;
}

.testimonial-slider_author-img {
  display: block !important;
  width: 3.2rem;
  height: 3.2rem;
  border-radius: 100%;
  background-color: rgb(var(--color-background-secondary));
}
